<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formulário pizzas</title>
</head>
<body>
<h1>Criar/atualizar produto</h1>

    <form method="POST">
        {% csrf_token %}   <!-- proteção automática do django contra ataques do tipo "cross-site request forge" -->
        {{form}}
        <button type="submit">Enviar/salvar</button>
    </form>

    {% if pizza %}
        <a href="{% url 'delete_pizzas' pizza.id %}">Deletar</a>
    {% endif%}

</body>
</html>